*/__pycache__
*.pyc
*/*.pyc
*.log
*.pid
logs
.idea
.vscode
*.sqlite3
*.sqlite
*.sqlite3-shm
*.sqlite3-wal
**local_settings.py

front/node_modules
front/dist
front/dist.zip
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

**dist
